<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ChengPerAppVPN</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>ChengProviderBundleIdentifier</key>
	<string>$(PROVIDER_BUNDLE_IDENTIFIER)</string>
	<key>NETestAppMapping</key>
	<dict>
		<key>8BAFFFC5-2AFC-4F2A-B794-B32E86EF3684</key>
		<array>
			<string>com.openai.codex</string>
			<string>com.openai.codex.framework.AlertNotificationService</string>
			<string>com.openai.codex.helper</string>
			<string>com.openai.codex.helper.renderer</string>
			<string>com.todesktop.230313mzl4w4u92</string>
			<string>com.google.Chrome</string>
			<string>com.google.Chrome.framework.AlertNotificationService</string>
			<string>com.google.Chrome.helper</string>
			<string>com.google.Chrome.helper.renderer</string>
			<string>com.apple.Terminal</string>
			<string>com.googlecode.iterm2</string>
		</array>
	</dict>
</dict>
</plist>
