.inline-0{display:block}
.inline-1{box-sizing:content-box;display:block;height:300px;width:1054px}
.inline-2{box-sizing:content-box;color:#0000ee;display:inline;font-size:16px;line-height:normal;text-decoration-line:underline}
.inline-3{box-sizing:content-box;display:flex;font-size:16px;height:22px;line-height:normal;padding-left:40px;width:1014px}
.inline-4{box-sizing:content-box;display:list-item;font-size:16px;line-height:normal;width:149px}
.inline-5{box-sizing:content-box;color:#0000ee;display:inline;font-size:16px;line-height:normal}
.inline-6{box-sizing:content-box;display:list-item;font-size:16px;line-height:normal;width:117px}
