!entry/src/main/resources/base/element/string.json
!entry/src/main/resources/base/element/color.json
!entry/src/main/resources/base/profile/main_pages.json
!entry/src/main/resources/rawfile/hy2-tun-client.example.json
